@font-face {
    font-family: "linja-pona";
    src: url("linja-pona-4.9.otf") format("opentype");
}

@media screen and (max-width: 600px) {
    button {
        font-size: 30px !important;
    }
}

.normal-body {
    margin: 0px;
    background-color: rgb(54, 54, 54);
    color: white;
    font-family: linja-pona;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    font-size: 32px;
}

.light-body {
    margin: 0px;
    background-color: white;
    color: black;
    font-family: linja-pona;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    font-size: 32px;
}

#buttons {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    width: 100%;
}

button {
    font-family: linja-pona;
    font-weight: bold;
    font-size: 20px;
}

#reset {
    margin-left: 8px;
}

.linjaSitelen {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 2em;
    animation-name: slideIn;
    animation-duration: 0.5s;

}

@keyframes slideIn {
    from{transform: translateX(-100%);}
}

@keyframes slideOut {
    from{transform: translateX(0);}
}

.hidden {
    transform: translateX(-100%);
    animation: slideOut;
    animation-duration: 0.5s;
}

*::selection {
    background-color: rgb(109, 212, 147);
    color: black;
}

a::selection {
    color: rgb(37, 129, 70);
}

h1,
h2 {
    font-size: 1.75em;
}

h2 {
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    background-color: rgb(43, 43, 43);
    padding: 8px;
    box-shadow: 0px 3px 20px black;
}

main {
    padding: 8px;
}

footer {
    background-color: black;
    font-size: 0.75em;
    padding: 8px;
}

a {
    color: rgb(90, 196, 90);
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

textarea { 
    box-sizing: border-box;
    height: 70px;
    width: 100%;
    font-size: 2em;
    font-family: linja-pona;

}
