@font-face {
    font-family: "linja-pona";
    src: url("linja-pona-4.9.otf") format("opentype");
}

@media screen and (max-width: 600px) {
    button {
        font-size: 30px !important;
    }
}

.normal-body {
    margin: 0px;
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: linja-pona;
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;
    font-size: 32px;
}

.light-body {
    margin: 0px;
    background-color: hsl(213, 25%, 75%);
    color: black;
    font-family: linja-pona;
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;
    font-size: 32px;
}

#buttons {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    width: 100%;
}

button {
    font-family: linja-pona;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid hsl(213, 9%, 30%);
    border-radius: 5px;
    background-color: hsl(213, 9%, 25%);
    color: white;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: hsl(213, 9%, 50%);
}

#reset {
    margin-left: 8px;
}

.linjaSitelen {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 2em;
    animation-name: slideIn;
    animation-duration: 0.5s;
}

@keyframes slideIn {
    from{transform: translateX(-100%);}
}

@keyframes slideOut {
    from{transform: translateX(0);}
}

.hidden {
    transform: translateX(-100%);
    animation: slideOut;
    animation-duration: 0.5s;
}

*::selection {
    background-color: rgb(109, 212, 147);
    color: black;
}

a::selection {
    color: rgb(37, 129, 70);
}

main {
    padding: 8px;
    font-size: 1em;
}

footer {
    background-color: black;
    font-size: 0.375em;
    font-family: Lexend;
    padding: 8px;
}

a {
    color: rgb(90, 196, 90);
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

textarea {
    box-sizing: border-box;
    height: 70px;
    width: 100%;
    font-size: 2em;
    font-family: linja-pona;
    border: 2px solid hsl(213, 9%, 30%);
    border-radius: 5px;
    background-color: hsl(213, 9%, 25%);
    color: white;
    resize: vertical;
}

textarea:focus {
    outline: none;
}
